.main { 
	display: flex;
}
html{
	margin:8px;
	padding: 2px;
}

body {
	background-color: #202020;
	color: white;
	font-family: 'Martel Sans';
}

h2 {
	background-color: #aaa;
	color: #202020;
	border: 1px solid black;
	display: inline-block;
	padding-left:16px;
	padding-top:12px;
	border-radius: 32px 32px 32px 32px;
	font-family: 'Martel Sans';
	
}
h3{
	font-family: 'Martel Sans';
}

.vars-container{
	display:flex;
	flex-direction: column;
	font-size: 14px;
}

lead {
	margin: 24px;
	padding: 2px;
	border-radius: 16px;
	max-height: 32px;
	height:100%;font-family: 'Martel Sans', sans-serif;
	font-size:12px;
	background-color:black;
	color:white;
	border-bottom: 3px solid black;
	border-left: 2px solid black;
	/*! display: flex; */
	/*! flex-grow: 0; */
	flex-shrink: 1;
}

a {
		color: white;
	font-family: monospace;
	
}

.code-func-section{
	display: flex;
	height: 32px;
	border-top: 1px solid #fff5;
	font-size: 14px;
}

.code-type {
	background-color: #400040;
	border: 0;
	color:white;
	padding: 4px;
	margin: 8px;
	border-radius: 16px;
	min-width: 12px;
	max-width: 12px;
	max-height: 12px;
  border: 1px #fff5 solid;
	font-size: 0px;
}

.type-void {
	background-color: #464646;
	color:white;
}
.type-Dictionary{
	background-color: #02afaa;
	color: white;
}
.type-float{
	background-color: #af2020;
	color: white;
}
.type-int{
	background-color: #2055ef;
	color: white;
}
.type-Vector3{
	background-color: #ff4400;
	color: white;
}
.type-Vector2{
	background-color: #4bf;
	color: white;
}

.type-RTS_Camera{
	background-color: #ffaa00;
	color: white;
}
.type-RTS_Actor{
	background-color: #ffaa00;
	color: white;
}
.type-RTS_UnitInfo{
	background-color: #aa00ff;
	color: white;
}
.type-RTS_BaseGizmo{
	background-color: #00ffaa;
	color: white;
}
.code-var-section{
	height: 32px;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #fff5;
	/*! font-size: 14px; */
}
.params-container{
	display: flex;
	font-size: 10px;
	vertical-align: middle;
	/*! text-align: center; */
	/*! height: 100%; */
	/*! align-items: center; */
	/*! align-self: center; */
	background-color: black;
	border-radius: 16px;
	margin: 0 16px 0 16px;
	padding: 0 8px 0 8px;
}
.page-area{
	display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sidebar {
	display: flex;
	flex-direction: column;
}
.class-list{
	flex-direction: column;
	display: flex;
	overflow: scroll;
}
.sidebar-class-name{
	font-family: 'Martel Sans';
	font-size: 10px;
}
