<!-- Top Bar -->
<div class="top-bar">
    <div class="top-bar-left">
    <ul class="menu">
        <li class="menu-text">{GROUPNAME}</li>
    </ul>
    </div>
    <div class="top-bar-right">
    <ul class="menu">
        {BUTTONS}
    </ul>
    </div>
</div>
<!-- Top Bar -->